/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(353, 93%, 50%);
  --first-color-alt: hsl(353, 93%, 46%);
  --first-color-dark: hsl(353, 50%, 15%);
  --title-color: hsl(353, 48%, 12%);
  --text-color: hsl(353, 16%, 32%);
  --text-color-light: hsl(353, 16%, 48%);
  --white-color: hsl(24, 86%, 90%);
  --body-color: hsl(24, 86%, 88%);
  --container-color: hsl(24, 86%, 92%);
  --shadow-small-img: drop-shadow(0 4px 16px hsla(353, 100%, 8%, 0.2));
  --shadow-big-img: drop-shadow(0 8px 24px hsla(353, 100%, 8%, 0.2));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Carter One", system-ui;
  --biggest-font-size: 2.5rem;
  --bigger-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --bigger-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
  .nav__list{
    display:flex;
    flex-direction:row;
    column-gap:2rem;
    align-items:center
  }
  .close__btn, .toggle-btn{
    display:none;
    font-size:1.5rem;
    cursor:pointer;
    color:var(--title-color)
    }
}
.
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-regular);
  font-family: var(--second-font);
  line-height: 120%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container_custom {
  max-width: 1120px;
  margin:0 auto;
  
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--bigger-font-size);
  margin-bottom: 2rem;
  text-transform:capitalize;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  z-index:var(--z-fixed);
  background-color:var(--body-color);
  transition:box-shadow .4s;
}
.nav{
  /* position:relative; */
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:var(--header-height);
 

}
.nav__logo{
  display:flex;
  column-gap:.25rem;
  align-items:center;
  font-family:var(--second-font);
  color:var(--title-color);
}
.nav__logo img{
  width:24px;
}
.scroll-header{
  box-shadow:0 4px 16px hsla( 353,100%,8%,.1);

}
.active-link {
  color: #007bff; /* Highlight color */
  font-weight: bold; /* Makes the text bold */
  text-decoration: underline; /* Adds an underline for emphasis */
  transition: color 0.3s ease; /* Smooth transition for color changes */
}
.active-link::after{
  width:60%;
}


.nav__link{
  position:relative;
  color:var(--title-color);
  font-family:var(--second-font);
  }
  .nav__link::after{
    content:'';
    position:absolute;
    bottom:-.5rem;
    width:0;
    left:0;
    height:3px;
    background:var(--first-color);
    transition:width .4s;
  }
  .nav__link:hover::after{
    width:60%;
  
  }
/* Navigation for mobile devices */
@media screen and (max-width:1150px){
  .nav__menu{
    position:fixed;
    left:0;
    top:-120%;
    padding:4.5rem 3rem;
    background:var(--body-color);
    box-shadow:0 4px 16px hsla(353,100%,8%,.1);
    transition:top .4s;
    width:100%;
    
  }
  .nav__list{
    display:flex;
    flex-direction:column;
    row-gap:2rem;
    text-align:center;
    align-items:center;
  }
  .close__btn, .toggle-btn{
    display:flex!important;
    font-size:1.5rem;
    cursor:pointer;
    color:var(--title-color)
    
  }
    .close__btn{
      position:absolute;
      top:1rem;
      right:1.5rem;
    }
    
  .container_custom{
    padding-inline:2rem
  }
  .about-data{
    text-align:center;
  }
}




/* Show menu */
.show-menu{
  top:0;
}
/* Add shadow header */

/* Active link */

/*=============== HOME ===============*/
.hero_container{
  padding-block:2rem 3rem;
  row-gap:7rem;
}
.hero-images{
  position:absolute;
  z-index:2;
}
.hero-ingredient{
  filter:var(--shadow-small-img)
}
.hero_board, .hero_pizza{
  filter:var( --shadow-big-img)
}
/*=============== BUTTON ===============*/
.button{
box-shadow:0 8px 24px hsla( 353,100%,40%,.4);
background-color:var(--first-color);
transition:background-color .4s;
display:inline-flex;
justify-content:center;
padding:1rem 1.5rem;
border-radius:4rem;
text-align:center;
font-weight:var(--font-semi-bold);
transition:background-color .4s;
color:white;
};
.button:hover{
  background-color:var(--first-color-alt);
}
.home__description{
  row-gap:2rem;
  padding-block:1rem 2rem;
}
/*=============== ABOUT ===============*/
.about{
  background:var(--container-color);
}
.about_container{
padding-bottom:2rem;
}
.about-data{
  position:relative;
  text-align:left;
  background:yellow;
  margin: auto 0;  
}
.about-data .section__title{
  margin-bottom:1rem;
}
.about__description{
  margin-bottom:2rem;
}
.about_svg{
  width:40px;
  position:absolute;
  right:0;
  bottom:2rem;
}
.about_img{
  width:320px;
  filter:var( --shadow-big-img);
  justify-self:center;

}

/*=============== POPULAR ===============*/
@media screen and (max-width:320px){
  .swiper{
    margin-inline:initial;
    overflow:visible;
  }
}

/* Swiper class */
.popular-container{
  grid-template-columns:100%;
  row-gap:3rem;
  padding-bottom:2rem;

}
.popular-swiper{
  position:relative;
  

}
.swiper{
  margin-inline:initial;
  overflow:hidden;
}
.popular_dish{
  width:220px;
  position:absolute;
  inset:0;  
  margin-inline:auto; 
  top:-.45rem;
  

}
.popular__card, .popular__img{
  width:208px
}
.popular__img{
  transform: scale(.8) rotate(-90deg);
  transition:transform .4s;
}
.popular__name{
  text-align:center;
  margin-top:2rem;
  opacity:0;
  transition:opacity .4s;
}
:is(.swiper-slide-active,.swiper-slide-duplicate-active) .popular__img{
  transform:scale(1) rotate(0)
}
:is(.swiper-slide-active,.swiper-slide-duplicate-active) .popular__name{
  opacity:1;
}
/*=============== RECIPE ===============*/

/*=============== PRODUCTS ===============*/

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background:hsla(24,32%,75%); /* Ensure this is applied */
}

::-webkit-scrollbar-thumb {
  background:hsla(24,32%,65%); /* Ensure this is applied */
}

::-webkit-scrollbar-thumb:hover {
  background:hsla(24,32%,45%); /* Ensure this is applied */
}


/*=============== SCROLL UP ===============*/

/* Show Scroll Up */
.scrollup{
  position:fixed;
  bottom:-50%;
  right:1rem;
  background:var(--body-color);
  color:var(--title-color);
  padding:6px;
  font-size:1.25rem;
  border-radius:.5rem;
  box-shadow:0 4px 16px hsla(353,100%,8%,.2);
  display:inline-flex;
  transition:bottom .4s , transform .4s

}
.scrollup:hover{
  transform:translatey(-.5rem);
}
.show-scroll{
  bottom:3rem;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */
@media screen and (min-width:576px){
  .hero_container, .about_container, .popular-container{
    grid-template-columns:380px;
    justify-content:center;
  }
}
/* For large devices */
